html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

body
{
  background-color: #000000;
  background-repeat: no-repeat;
  margin: auto;
}

a{color: #aaaaaa; cursor: pointer; text-decoration: none;}
a:hover{color: #ffffff;}
li{color: #d4d4d4;}
p{margin: 20px 0 40px 0; color: #d4d4d4;}  
h1{font-size: 30px; color: #ffffff;}  
h2{font-size: 20px; color: #ffffff;}

/* Start Header */
.header{margin: auto;}
.logo{margin: auto;}

.topbttn {
  background: #d3a625;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #5d5d5d;
  font-size: 12px;
  padding: 10px 12px;
  width: 175px;
  text-align: center;
}

.bttn-left { left: 0;}

.topbttn a { color:#222f5b; }
.topbttn a:hover { color:#FFF; text-decoration:none; }

.socialbar li{
  float: right;
  list-style: none;
  padding: 5px;
}
/* End Header */

/* Start Nav Menu */
.navwrap{
  background-color: #174038;
  border-radius: 10px;
  margin: auto;
  vertical-align: middle;
}

.navlinks{
  display: inline-block;
  padding: 5px;
}

.navlinks a{
  display: inline-block;
  font-variant: small-caps;
  letter-spacing: 1px;
  margin-left: 15px;
  padding: 5px;
  text-decoration: none;
  vertical-align: middle;
}
/* End Nav Menu */

.content{
  padding: 20px;
  margin: auto;
  min-height: 355px;
}

/* Start Slider */
.rslides {
  clear: both;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.rslides li {
  display: none;
  left: 0;]
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
/* End Slider */

.updates {
  clear: both;
  background-color: #555555;
  border-radius: 10px;
}

.updatessection {
  padding: 25px;
}

/* Start Accordion */
.accordion {
  background:#414141;
  color: #474747;
  overflow: hidden;
  padding: 10px;
  width: 100%;
}

.accordion a{color: #414141;}
.accordion a:hover{color: #747474;}


.accordion section:target {
  background:#FFF;
  padding:10px;
}

.accordion section:target:hover {background: #FFF;}
.accordion section:target h2 {width: 100%;}
.accordion section:target h2 a {color: #333; padding: 0;}
.accordion section:target p {color: #000; display: block;}
.accordion section:target li {color: #000; list-style: inherit;}

.accordion section h2 a {
  padding:8px 10px;
  display:block;
  font-size:16px;
  font-weight:normal;
  color:#eee;
  text-decoration:none;
}

.accordion section{
  background: #333;
  color: #333;
  cursor: pointer;
  float: left;
  margin: 3px;
  overflow: hidden;
}

.accordion section:hover {background: #444;}
.accordion section p {display: none;}

.accordion section:after {
  color:#000;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.vertical section {
  border-radius: 0px;
  height: 40px;
  text-align: left;
  width: 100%;
  -webkit-transition:height 0.2s ease-out;
  -moz-transition:height 0.2s ease-out;
    -o-transition:height 0.2s ease-out;
  -ms-transition:height 0.2s ease-out;
    transition:height 0.2s ease-out;
}

.vertical :target{
  height: auto;
  min-height: 250px;
  width: 97%;
}

.vertical section h2 {
  left:0;
  padding: 10px;
  position: relative;
  top:-15px;
}

/* End Accordion */

/* Start Member Thumbnails */
.memberthumbs, .memberthumbs li{
  display: inline-block;
  float: left;
  list-style: none;
  padding: 5px;
}
/* End Member Thumbnails */

/* Start Footer */
.footer{
  background: #174038;
  border-top: 1px solid #fff;
  clear: both;
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;  
}

.fnav{
  border-right: 1px solid #fff;
  float: left;
  font-size: .7em;
  list-style: none;
  width: 10%;
  padding-top: 15px;
}

.fnav ul, .fnav li{
  list-style: none;
}

.fnav a{
  letter-spacing: 1px;
  text-decoration: none;
}

.fsocial{
  float: left;
  padding-top: 15px;
}

.fsocial ul, .fsocial li{
  float: left;
  font-size: .7em;
  height: 40px;
  list-style: none;
  padding: 2px;
}

.fsocial a{
  color: #ffffff;
  text-decoration: none;
}

.fsocial a:hover{
  color: #590000;
}

.facebook-hover {
display: block;
width: 40px;
height: 40px;
background: url(images/facebook.jpg) bottom;
text-indent: -99999px;
margin-right: 5px;
-webkit-transition: all ease 0.5s;
-moz-transition: all ease 0.5s;
-o-transition: all ease 0.5s;
-ms-transition: all ease 0.5s;
transition: all ease 0.5s;
}

.facebook-hover:hover {
background-position: 0 0;
}

.google-hover {
display: block;
width: 40px;
height: 40px;
background: url(images/google.jpg) bottom;
text-indent: -99999px;
margin-right: 5px;
-webkit-transition: all ease 0.5s;
-moz-transition: all ease 0.5s;
-o-transition: all ease 0.5s;
-ms-transition: all ease 0.5s;
transition: all ease 0.5s;
}

.google-hover:hover {
background-position: 0 0;
}

.instagram-hover {
display: block;
width: 40px;
height: 40px;
background: url(images/instagram.jpg) bottom;
text-indent: -99999px;
margin-right: 5px;
-webkit-transition: all ease 0.5s;
-moz-transition: all ease 0.5s;
-o-transition: all ease 0.5s;
-ms-transition: all ease 0.5s;
transition: all ease 0.5s;
}

.instagram-hover:hover {
background-position: 0 0;
}

.reddit-hover {
display: block;
width: 40px;
height: 40px;
background: url(images/reddit.jpg) bottom;
text-indent: -99999px;
margin-right: 5px;
-webkit-transition: all ease 0.5s;
-moz-transition: all ease 0.5s;
-o-transition: all ease 0.5s;
-ms-transition: all ease 0.5s;
transition: all ease 0.5s;
}

.reddit-hover:hover {
background-position: 0 0;
}

.twitter-hover {
display: block;
width: 40px;
height: 40px;
background: url(images/twitter.jpg) bottom;
text-indent: -99999px;
margin-right: 5px;
-webkit-transition: all ease 0.5s;
-moz-transition: all ease 0.5s;
-o-transition: all ease 0.5s;
-ms-transition: all ease 0.5s;
transition: all ease 0.5s;
}

.twitter-hover:hover {
background-position: 0 0;
}

.youtube-hover {
display: block;
width: 40px;
height: 40px;
background: url(images/youtube.jpg) bottom;
text-indent: -99999px;
margin-right: 5px;
-webkit-transition: all ease 0.5s;
-moz-transition: all ease 0.5s;
-o-transition: all ease 0.5s;
-ms-transition: all ease 0.5s;
transition: all ease 0.5s;
}

.youtube-hover:hover {
background-position: 0 0;
}

.fmailing{
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  float: left;
  min-height: 140px;
  padding-top: 15px;
}

.fcountdown{
  border-right: 1px solid #ffffff;
  float: left;
  min-height: 140px;
  padding-top: 15px;
}

.fcountdown section{
    padding: 12px;
    border-radius: 12px;
    text-align: center;
}

section > div {
    display: inline-block;
    margin: 0  4px;
}

section > div > div {
    background: white;
    padding: 8px;
    font-size: 1.2em;
}

section {
    padding: 12px;
    border-radius: 12px;
    text-align: center;
}

.flegal{
  color: #afafaf;
  float: left;
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 5px;
}

.search-form{
  background: #ffffff url(images/search.png) 8px 8px no-repeat;
  border-radius: 20px;
  float: left;
  width: 200px;
}
/* End Footer */


/*****************************************************
*****   Media   **************************************
*****************************************************/
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
/* #Base 960 Grid
================================================== */

.header, .navwrap, .content, .fcontent{
  width: 960px;
}

#wrapper {
  height: 540px;
  width: 960px;
}

.accordion {
  width: 940px;
}

.vertical section {
  width: 910px;
}

/* #Tablet (Portrait)
================================================== */
    /* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px){
.header, .navwrap, .content, .fcontent{
  width: 768px;
}

#wrapper {
  height: 432px;
  width: 768px;
}

.accordion {
  width: 748px;
}

.vertical section {
  width: 718px;
}

/*  #Mobile (Portrait)
================================================== 
     Note: Design for a width of 320px
@media only screen and (max-width: 767px) {
.header, .navwrap, #wrapper, .content, .accordion, .fcontent{
  width: 300px;
}*/